@import './button.scss';

.second-color {
    background-color: #dccdc0;
}

.mg-register {
    margin-left: 30%;
}

.register-text {
    font-size: .875rem;
    text-transform: uppercase;
    font: inherit;
}