@import './button.scss';

.second-color {
    background-color: #dccdc0;
}

.mg-register {
    margin-left: 30%;
}

.register-text {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

.mg-t-register {
    margin-top: 5%;
}

.less-spaces {
    margin-top: -20px !important;
}